<div id="<%= dom_id user %>" class="user">
  <img src=<%= user.photo %> alt="avatar">
  <div class="flex info">
    <div>
      <strong><%= user.name %></strong>
      <p><%= user.bio %></p>
    </div>
    <span class="flex counter">Number of posts: <%= user.posts_counter || 0 %></span>
  </div>
</div>
